.login-style{
    background-image: url(https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/v1555440276/shape/mentalfloss/istock_000040198950_small.jpg?itok=OIp1jlPh);
    background-repeat: no-repeat;
    background-size: cover;
    height: 656px;
    margin: 0px;
}